@using TrackerZ.Views.Home
@{
    ViewData["Title"] = "Table";
    ViewData["ActivePage"] = ManageNavMenu.Table;
}
@model BugsViewModel
@{
    var count = 0;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtBasicExample').dataTable();
    })
</script>


<aside class="page-sidebar">
    <partial name="_ManageNavMenu" />
</aside>
<nav class="page-nav text-left" style="height: 0; padding: 0">
    @*<h3 style="text-align:center; color:white">TrackerZ Table</h3>*@
</nav>
<main class="page-scroll" style="padding-bottom: 0">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-bordered table-responsive table-condensed
                       table-sm table-responsive-data2" id="dtBasicExample" style="color:white">
                <thead>
                    <tr style="border:1px; border-style:solid; border-color:#f6f6f6; background:#8d8c8a; text-shadow: 2px 2px #000000">
                        <th scope="col">
                            <span style="color:#52d6f4">T</span>itle
                        </th>
                        <th scope="col" class="d-none d-sm-table-cell" style="width: 30%">
                            <span style="color:#52d6f4">S</span>ummary
                        </th>
                        <th scope="col">
                            <span style="color:#52d6f4">C</span>ategory
                        </th>
                        <th scope="col">
                            <span style="color:#52d6f4">S</span>tatus
                        </th>
                        <th scope="col" class="d-none d-md-table-cell">
                            <span style="color:#52d6f4">A</span>dded
                        </th>
                        <th scope="col" class="d-none d-lg-table-cell">
                            <span style="color:#52d6f4">C</span>losed
                        </th>
                        <th scope="col">
                            <span style="color:#52d6f4">O</span>ptions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bugs in Model.Bugs)
                    {
                        <tr style="text-shadow: 2px 2px #000000; @(count % 2 == 0 ? "background:#363538" : "background:#8d8c8a")">
                            <td scope="row" style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => bugs.Title)
                            </td>
                            <td scope="row" class="font-weight-light d-none d-sm-table-cell" style="max-width: 300px; vertical-align:middle">
                                @Html.DisplayFor(modelItem => bugs.Text)
                            </td>
                            <td class="font-weight-light" style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => bugs.CatName)
                            </td>
                            @if (bugs.Status == "Open")
                            {
                                <td scope="row" class="font-weight-light" style="vertical-align:middle">
                                    <div style="color:red; font-weight:bold; text-shadow: 2px 2px #000000">
                                        @Html.DisplayFor(modelItem => bugs.Status)
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td scope="row" class="font-weight-light" style="vertical-align:middle">
                                    <div style="color:#86c232; font-weight:bold; text-shadow: 2px 2px #000000">
                                        @Html.DisplayFor(modelItem => bugs.Status)
                                    </div>
                                </td>
                            }
                            <td scope="row" class="font-weight-light d-none d-md-table-cell" style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => bugs.Added)
                            </td>
                            <td scope="row" class="font-weight-light d-none d-lg-table-cell" style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => bugs.Closed)
                            </td>
                            <td class="text-center font-weight-light" style="vertical-align:middle">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@bugs.Id" class="btn btn-primary">Edit</a>
                                @if (bugs.Closed == null)
                                {
                                    <a asp-controller="Home" asp-action="CloseBug" asp-route-id="@bugs.Id" class="btn btn-primary mt-1">Close</a>
                                }
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>